<h1>
	Create Task
</h1>

<%= form_for @task do |f| %>
	<div class = "field">
		<%= f.label :start_time %>
		<%= f.datetime_select :start_time  %>
	</div>
	<div class = "field">
		<%= f.label :end_time %>
		<%= f.datetime_select :end_time  %>
	</div>
	<div class = "field">
		<%= f.label :status %>
		<%= f.text_field :status %>
	</div>
	<%= f.submit %>
<% end %>