<h3>
	</br>
	<p style = "text-align:center;">
		<font size = 5>
			&nbsp; Tasks Today - 
			<%= link_to 'Schedule', work_tasks_path(:sch_day => DateTime.now) , class: "text-primary" %>
		</font>
		</br>
	</p>
	<p style = "text-align:right;">
		<%= link_to 'Finish All', welcome_finished_path %>
	</p>
	</br>
</h3>

<table class = "table table-bordered">
	<tr>
		<th>Flat</th>
		<th>Task ID</th>
		<th>First available time</th>
		<th>Last available time</th>
		<th>Change Time</th>
		<th>Cancel Task</th>
		<th>Slots</th>
		<th>Status</th>
		<th>Employee</th>
		<th>Start Time</th>
		<th>End Time</th>
		<th>Finished</th>
	</tr>
	<% @tasks.each do |task| %>
		<tr>
			<td><%= link_to Flat.find(task.flat_id).address, flat_path(task.flat_id) , class: "text-primary" %></td>
			<td><%= task.id %></td>
			<td><%= task.start_time %></td>
			<td><%= task.end_time%></td>
			<td><%= link_to 'Change', edit_task_path(task), class: "text-primary" %></td>
			<td><%= link_to 'Cancel', task_path(task), method: :delete, data: {confirm: "Are you sure?"}, class: "text-primary" %></td>
			<td><%= Flat.find(task.flat_id).slots %></td>
			<td><%= task.status %></td>
			<% if task.status == "assigned" %>
				<td><%= Employee.find(WorkDay.find(WorkTask.select{|work_task| work_task.task_id == task.id}.first.work_day_id).employee_id).name %></td>
				<td><%= WorkTask.select{|work_task| work_task.task_id == task.id}.first.start_time %> </td>
				<td><%= WorkTask.select{|work_task| work_task.task_id == task.id}.first.end_time %></td>
				<td><%= link_to 'Complete',welcome_change_status_to_finish_path(:id => task.id), class: "text-primary"%></td>
			<% end %>
			<% if task.status == "finished" %>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			<% end %>
		</tr>
	<% end %>
</table>
